@charset "UTF-8";

html {
  font-size: 1em; /* 16px */
  line-height: 1.5; /* 24px */
}

body {
  color: #000;
  background-color: #fff;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "MS P ゴシック", "MS P Gothic",sans-serif;
  
  
  /*font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN','ＭＳ 明朝', 'MS Mincho','ＭＳ Ｐ明朝','MS PMincho',sans-serif,'Droid Serif', YuGothic, '游ゴシック', serif;*/
}


.animated {
  /* アニメーションで表示させるため最初は非表示 */
  opacity: 0;
}

.navbar {
  font-family: 'Slabo 27px', YuGothic, '游ゴシック', sans-serif;
  padding-top:5px;
}



/* *********************************************** */

.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.container2{
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.content{
  width: 90%;
  margin: 0 auto;
  
}

.text_center{
	text-align:center;
}

.aka{
	
color:red;
}


/* ボックスの左右 */
.boxA, .box4, .box5, .box6, .box7
	{padding-left: 15px;
	padding-right: 15px;}


/* ボックスの上下 */
.boxA	{
	margin-bottom:10px;
	padding-top: 0px;
	padding-bottom: 0px;}
	



/*************************************************/
/* topページ から*/

/* ヘッダー から*/

/* ナビバー から*/
/* サイト名 */
.site h1 a	{color: #000000;
	text-decoration: none;}

.site h1	{margin: 0;
	font-size: 30px;}

.site img	{border: none;}

nav{
background: url(../img/shokuai_top_back.jpg) repeat;
border-bottom: 1px dotted #989898 !important;
	
}

.box2{
	margin-top:4px;
	
	
}
/* ナビバー まで*/




.top {
  /* 子要素でposition:absoluteを使うため必要 */
  position: relative;
}

.top, .top__bg {
  /* 画面いっぱいに広げる */
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.top_2{
  /* 画面いっぱいに広げる */
  width: 100%;
  height: 10vh;
  overflow: hidden;
}

.top_3{
  /* 画面いっぱいに広げる */
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.top__title {
  margin-bottom: 10px;
  font-size: 6rem;
  font-weight:bolder;
  line-height: 77px;
  letter-spacing: 4px;
}
.top__catchphrase {
  font-size: 1.8rem;
  font-weight:bolder;
}
.top__text{
  margin-bottom: 0px;
  font-size: 3rem;
  font-weight:bolder;
  line-height: 77px;
  letter-spacing: 4px;
}
.top__text_2{
  margin-bottom: 5px;
  font-weight:bolder;
  font-size: 4rem;
  line-height: 77px;
  letter-spacing: 4px;
}



.top__bg {
  /* .topと同じ左上位置に置く */
  position: absolute;
  left: 0;
  top: 0;

  /* 背景画像を画面いっぱいに置く */
  background-color: #fff;
  background-image: none;
  background-size: cover;
  background-position: center;
}

.top__video {
  /* モバイル（デフォルト）では非表示 */
  display: none;

  /* 動画を画面いっぱいに表示 */
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.top__text-box {
  /* 上下中央に置く */
  position: relative;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  width: 100%;

  font-weight: 100;
}

/* ヘッダー まで*/

/******************************************/


.showcase {
  /* 左右中央に置く */
  margin: 0 auto;

  width: 88%;
  max-width: 940px;
}

.showcase__details {
  /* 左右中央に置く */
  margin: 0 auto;

  width: 100%;
  max-width: 460px;
}

.showcase__kind-name {
  font-size: 1.0rem;
  font-weight: 700;
}

.showcase__kind-description {
  font-size: 1.2rem;
  line-height: 1.6;
  border-style:inset;
	text-align: left;
	padding:3px;
}


.card {
  text-align: center;
  margin-bottom: 3em;
}

.card__number,
.card__icon {
  font-size: 1.2rem;
}

.card__number{
	border-style:solid;
  font-size: 1.2rem;
}

.card__description {
  /* 左右中央に置く */
  margin: 0 auto;
  border-style:inset;
	text-align: left;
	padding:3px;


  
  font-size: 1.3125rem;
  width: 80%;
}

.prepare {
  padding-top: 42px;
  padding-bottom: 4px;
  background-color: #F3F3F3;
}

.prepare_2 {
  padding-top: 42px;
  padding-bottom: 4px;
  background-color: #F2F2F2;
}

.puppies {
  padding-top: 42px;
  padding-bottom: 4px;

  
  background:#F3F3F3;
}

.puppies__phrase,
.prepare__phrase,
.gallery__phrase {
	
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1.79px;
}

.puppies__title,
.prepare__title,
.gallery__title {
	margin:20px 20px;
	border:double;
 line-height:1.4;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 2px;
  padding: 0.2em 0.2em;
  background: url(../img/shokuai_top_back.jpg) repeat;
  color:FFF;
}




footer {
  padding: 50px 0;
  background-color: #fafaf3;
  text-align: center;
}


/*
 * タブ - ここから
 */
/* ulのデフォルトスタイルを消去 */
.tabs__menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

/* タブの基本スタイル */
.tabs__menu li {
  display: inline-block;
  margin-bottom: 12px;
  opacity: 0.5;
  border-style:inset;
	

  /* 各プロパティをふわっと変える演出 */
  -webkit-transition: all .15s;
  transition: all .15s;
}
.tabs__menu a {
  display: block;
  color: #557F95;
  text-decoration: none;
}

/* 非選択のタブにマウスを乗せたら色を変える */
.tabs__menu li:not(.active):hover {
  opacity: 0.7;
}

/* 選択中のタブ */
.tabs__menu .active {
  opacity: 1;
}
.tabs__menu .active a {
  color: #3F4548;
}

/* 各タブのコンテンツはデフォルトで非表示 */
.tabs__content section {
  display: none;
}

.tabs__content section.active {
  display: block;
}
/*
 * タブ - ここまで
 */


/*
 * Magnific Popupのフェードイン・フェードアウト - ここから
 */
/* オーバーレイする背景 初期状態 */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* オーバーレイする背景 開始時アニメーション */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* オーバーレイする背景 終了時アニメーション */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* コンテンツ 初期状態 */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* コンテンツ 開始時アニメーション */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* コンテンツ 終了時アニメーション */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
/*
 * Magnific Popupのフェードイン・フェードアウト - ここまで
 */

.blue{
	background:#3FF;
}

.red{
	color:red;
	
}

.bold{
	font-weight:bold;
}

.card{
	margin-top:20px;

}

.moji_size_1{
	
	
}


/* topページ まで*/
/*************************************************/


/*===============================
写真の装飾
===============================*/
/* シャドウを使った写真の装飾 */
.box img{
background:#fff;
padding:5px;
box-shadow:0 1px 3px #aaa;
-webkit-box-shadow:0 1px 3px #aaa;
-moz-box-shadow:0 1px 3px #aaa;
}

.alignleft {
display: block;
float: left;
margin-right: 15px;
margin-bottom:1em;

}
.aligncenter {
display: block;
margin:0 auto;
}
.alignright {
display: block;
float: right;
margin-left: 15px;
margin-bottom:1em;
}












/*================================
詳細ボタン用
================================*/
p.more{
margin:40px 150px 10px;
}

p.more a{
position:relative;
display:block;
padding:5px 15px 5px;
color:#fff;
text-align:center;
text-decoration:none;
background:#244386;
border:1px solid #e8e8e8;
/*角丸*/
border-radius: 8px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
/*ボックスシャドウ*/
box-shadow: 2px 2px 4px #aaa;
-webkit-box-shadow: 2px 2px 4px #aaa;
-moz-box-shadow: 2px 2px 4px #aaa;
/*グラデーション*/
background:#cc0000;
background: -webkit-gradient(#cc0000, #EF6767);
background: -moz-linear-gradient(#cc0000, #EF6767);
background: linear-gradient(#cc0000, #EF6767);
-pie-background: linear-gradient(#cc0000, #EF6767);
}

p.more a:hover{
background:#cc0000;
color:#FF0;
background: -webkit-gradient(#cc0000, #EF6767);
background: -moz-linear-gradient(#EF6767,#cc0000);
background: linear-gradient(#EF6767,#cc0000);
-pie-background: linear-gradient(#EF6767,#cc0000);
text-decoration:none;
}




/*講座詳細ページ　ここから*/

.bt-samp70{
    display: block;
    height: 30px;
    width: 80px;
    text-decoration: none;
    line-height: 33px;
    text-align: center;
    border-radius:5px;
    color: #000000;
    -webkit-box-shadow: 1px 1px 1px #e9e9e9;
    -moz-box-shadow: 1px 1px 1px #e9e9e9;
    box-shadow: 1px 1px 1px #e9e9e9;
    background: #119de9;
    background: -webkit-gradient(linear, left top, left bottom, from(#119de9), to(#4bb8f3));
    background: -moz-linear-gradient(top, #119de9, #4bb8f3);
    background: -o-linear-gradient(top, #119de9, #4bb8f3);
    background: -ms-linear-gradient(top, #119de9, #4bb8f3);
    background: linear-gradient(top, #119de9, #4bb8f3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#119de9', endColorstr='#4bb8f3');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#119de9', endColorstr='#4bb8f3')";
  }
  

 
 .bt{
  height: 30px;
  width: 120px;
  text-decoration: none;
  line-height: 23px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  -webkit-box-shadow: 1px 1px 1px #e9e9e9;
  -moz-box-shadow: 1px 1px 1px #e9e9e9;
  box-shadow: 1px 1px 1px #e9e9e9;
  background: #fa7e01;
  background: -webkit-gradient(linear, left top, left bottom, from(#fa7e01), to(#fb9d3e));
  background: -moz-linear-gradient(top, #fa7e01, #fb9d3e);
  background: -o-linear-gradient(top, #fa7e01, #fb9d3e);
  background: -ms-linear-gradient(top, #fa7e01, #fb9d3e);
  background: linear-gradient(top, #fa7e01, #fb9d3e);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fa7e01', endColorstr='#fb9d3e');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fa7e01', endColorstr='#fb9d3e')";
 
}



/* ########### 359px以下 ########### */
@media (max-width: 359px) {

/* サイト名 */
.mob_tatle{
	
	font-size: 0.6em;
	
}

}


/* ########### 599px以下 ########### */
@media (max-width: 450px) {

.mob_tatle{
	
	font-size: 0.7em;
	
}

}





/* ########### 767px以下 ########### */
@media (max-width: 767px) {
	
/*#rogo{
	width: 126px;
	height:43px;	
}*/

.mob_tatle{
	display:inline;
	vertical-align:bottom;
	
}

/* トグルボタン */

.menu-trigger {
 position: fixed;
 /*bottom: 20px;
 right: 20px;*/
 top: 18px;
 right: 14px;
 width: 50px;
 height: 50px;
 z-index: 9999;
 background: rgba(0,0,0,0.6);
 border-radius: 4px;
}
a.menu-trigger:hover{
background: rgba(0,0,0,0.5);
}
.menu-trigger span {
 position: absolute;
 z-index: 9999;
 left: 6px;
 width: 75%;
 height: 4px;
 background-color: #fff;
 border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
 top: 9px;
}
.menu-trigger span:nth-of-type(2) {
 top: 23px;
}
.menu-trigger span:nth-of-type(3) {
 bottom: 9px;
}
.menu-trigger.active span:nth-of-type(1) {
 -webkit-transform: translateY(15px) rotate(-45deg);
 transform: translateY(14px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
 opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
 -webkit-transform: translateY(-15px) rotate(45deg);
 transform: translateY(-15px) rotate(45deg);
}
#overlay{
 display: none;
 width: 100%;
 height:100%;
 text-align: center;
 position: fixed;
 top: 0;
 z-index: 100;
 background: rgba(0,0,0,0.8);
 padding: 20px;
 box-sizing: border-box;
}
#overlay ul{
 padding-left: 0px;
}
#overlay ul li{
 padding-left: 0px;
 list-style-type: none;
 margin-top: 50px;
}
#overlay ul li a{
 color: #fff;
 text-decoration: none;
 font-size: 150%;
}

th, td {
 
  padding: 0px;

}

/*top画面　文字*/

.top__title {
  margin-bottom: 10px;
  font-size: 4rem;
  font-weight:bolder;
  line-height: 77px;
  letter-spacing: 2px;
}
.top__catchphrase {
  font-size: 1rem;
  font-weight:bolder;
}
.top__text{
  margin-bottom: 0px;
  font-size: 1.2rem;
  font-weight:bolder;
  line-height: 77px;
  letter-spacing: 4px;
}
.top__text_2{
  margin-bottom: 10px;
  font-weight:bolder;
  font-size: 4rem;
  line-height: 77px;
  letter-spacing: 4px;
}

.moji_size_1{
	
	font-size: 1.2rem;
}

}


/* Bootstrapのsm以上の表示幅で適用されるスタイル */
@media (min-width: 768px) {
	span .mob_tatle{
	display:none;	
}

	
  .top__catchphrase {
    font-size: 1.125rem;
  }

  .puppies__title,
  .prepare__title,
  .gallery__title {
    font-size: 2rem;
  }

  .puppies__phrase,
  .prepare__phrase,
  .gallery__phrase {
    font-size: 1.5rem;
  }

  .image-gallery__item {
    width: 192px;
    height: 192px;
    border: 16px solid #fff;
    box-shadow: 8px 8px 12px 1px #ccc;
  }

  .card__number,
  .card__icon {
    font-size: 1.2rem;
  }

  .showcase--leftpic .showcase__thumbnails {
    text-align: left;
  }
  .showcase--rightpic .showcase__thumbnails {
    text-align: right;
  }

  .showcase--rightpic .showcase__kind-name {
    text-align: right;
  }

  .showcase__details {
    max-width: 320px;
  }
  .showcase--leftpic .showcase__details {
    margin: 0 auto 0 0;
  }
  .showcase--rightpic .showcase__details {
    margin: 0 0 0 auto;
  }

/***************************************/

	span .mob_tatle{
	display:none;	
}
	
/* BOX1とBOX2を横に並べる設定 */
.boxA:after	{content: "";
	display: block;
	clear: both;}

.box1	{float: left;
	width: auto;}

.box2	{float: right;
	width: auto;
	padding-top:15px;}

/* トグルボタン */
#menubtn	{display: none}

/* ナビゲーション */


#menu	{display: block !important}

.menu ul	{margin: 0;
	padding: 0;
	list-style: none;}

.menu li a	{display: block;
	
	color: #000000;
	font-size: 18px;
	font-weight:bold;
	text-decoration: none;
	
padding: 0.5em;
background: aliceblue;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}

.menu li a:hover	{
	background: #eaf3ff;/*背景色*/
border-bottom: solid 3px #516ab6;/*下線*/
}

.menu ul:after	{content: "";
	display: block;
	clear: both;}

.menu li	{float: left;
	width: auto;}




}


/* ########### 1190px以上 ########### */
@media (min-width: 1190px) {
span .mob_tatle{
	display:block;	
}
/* 全体の横幅を固定 */
.container
	{width: 1140px;
	margin-left: auto;
	margin-right: auto}



}

/* 印刷用スタイル */
@media print {
  .animated {
    /* すべて表示 */
    opacity: 1;
  }
}
